<footer>
    <div class="f-info">
        <div class="f-info-scocials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
    <div> &copy; GoBnb Private Limited</div>
    <div class="f-info-links">
         <a href="/privacy">Privacy</a>
         <a href="/trems">Terms</a>
         <a href="/issues">issue</a>
    </div>
    </div>
</footer>